/* Général */

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");

html {
}

body {
  font-family: "Quicksand", sans-serif;
  background-color: black;
}

h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: bol;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1224px;
  margin: 0 auto;
}

/* Header */

header {
  background-color: black;
  color: white;
  margin-bottom: 4rem;
}
.header-container {
  /* border: 1px solid grey; */
  height: 50px;
  display: flex;
  justify-content: space-between;
  background-color: blue;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
}

.header-title {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.logo-container img {
  height: 50px;
  object-fit: cover;
}

.header-avatar-container {
  border: 1px solid green;
}

/* Characters */

.search-container {
  max-width: 800px;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.search-container input {
  width: 20%;
  height: 1.5rem;
  border-radius: 5px;
  border: 2px solid blue;
  width: 80%;
  background-color: black;
  color: blue;
  text-align: center;
}

.search-container button {
  background-color: blue;
  color: grey;
  font-weight: bold;
  font-size: 1rem;
  height: 2rem;
  width: 150px;
  cursor: pointer;
  border-radius: 5px;
  border: solid 1px blue;
}

.comics-characters-container {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 5px;
  flex-wrap: wrap;
  /* align-items: center; */
  height: 100%;
  /* border: 2px solid blue; */
  margin-top: 2rem;
  background-color: black;
}

.comics-characters-container h3 {
  font-size: 0.8rem;
  font-weight: bold;
  text-overflow: ellipsis;
  height: 35px;
  color: grey;
}

.character-container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  max-width: 250px;
  margin-bottom: 2rem;
}

.character-container img {
  height: 300px;
  width: 190px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.character-container img:hover {
  transform: scale(1.1);
  -webkit-filter: opacity(0.5);
  filter: opacity(0.5);
}

.character-container-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.character-container-footer button {
  border: 1px solid blue;
  cursor: pointer;
  color: blue;
  text-align: center;
  background-color: black;
}

.character-favorite-container {
  display: flex;
  justify-content: flex-end;
}

.character-favorite-container img {
  height: 20px;
  width: 20px;
}

.character-favorite-container .favorite {
  background-color: green;
}

/* Détail d'un personnage : page Character.js */

.character-detail-container {
  max-width: 1024px;
  margin: 0 auto;
}

.character-heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.character-heading-container img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.character-heading-container div {
  border: 1px solid black;
  background-color: red;
  height: 200px;
  width: 200px;
}

.comics-related-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.comics-related-container h3 {
  font-size: 0.8rem;
  font-weight: bold;
  color: blueviolet;
  text-overflow: ellipsis;
  height: 35px;
}

.comics-related-img-container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  background-color: blue;
  height: 200px;
  width: 200px;
}

.comics-related-img-container img {
  height: 200px;
  width: 200px;
  object-fit: cover;
}

/* Pagination */

.pagination-container {
  display: flex;
  /* flex-direction: center; */
  justify-content: center;
  align-items: center;
}

.pagination-container input {
  width: 10%;
  border: 2px solid blue;
  text-align: center;
  color: blue;
  background-color: black;
  border-radius: 5px;
}

.pagination-container button {
  margin-right: 1rem;
  border: 2px solid blue;
  color: blue;
  background-color: black;
  cursor: pointer;
}
.pagination-container p {
  margin-left: 1rem;
  color: grey;
  font-size: 0.9rem;
  margin-right: 1rem;
}

.pagination-data-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  color: grey;
  margin-top: 1rem;
  font-weight: bold;
}

.pagination-data-container div {
}
